*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  max-width: 1140px;
  gap: 30px;
  align-items: end;
  justify-items: end;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-grow: 1;
}

.content__list-container {
  height: 300px;
  padding: 2px;
  overflow-y: scroll;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-grow: 0;
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed','Arial','sans-serif';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  margin-bottom: 5px;
}

.title {
  color: #FFFFFF;
  font-family: 'Oswald','Helios Cond','Pragmatica Cond', 'Bebas Neue';
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
  width: 259px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
  display:block;
}

.content__video-card-title {
  overflow: hidden;
  white-space: nowrap;
  color: #FFFFFF;
  font-family: 'Oswald','Helios Cond','Pragmatica Cond', 'Bebas Neue';
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  height:fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: transparent;
  font-family: 'Fira Sans Condensed','Arial','sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  margin: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label-text {
  appearance: none;
  margin-left: 5px;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.search-form__textfield:active {
  border: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox::after {
  content:"";
  display: none;
  background-color: white;
  width: 15px;
  height: 15px;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label .search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.button {
  border: 1px solid #FFFFFF;
  color: white;
  background-color: transparent;
  font-family: 'Fira Sans Condensed','Arial','sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  height: 34px;
}

.more-button {
  width: 100%;
  padding: 3px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
  text-decoration: none;
}


.content__list-item {
  padding: 0px 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px white solid;
}

